[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
django = "==2.2.28"
django-environ = "*"
waitress = "*"
whitenoise = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-bootstrap4 = "*"
django-allauth = "*"
django-rest-auth = "*"
django-extensions = "*"
drf-yasg = "*"
django-crispy-forms = "*"
django-cleanup = "*"
coreapi = "*"
django-rest-swagger = "*"
djangorestframework-simplejwt = "*"
djangorestframework-datatables = "*"
django-debug-toolbar = "*"
django-filter = "==2.2.0"
Pillow = "*"
psycopg2 = "==2.8.4"
django-storages = "*"
djangorestframework-jwt = "*"
faker = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
